// Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$primary-background: hsl(233, 47%, 7%);
$card-background: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

$primary-color: hsla(0, 0%, 100%, 0.75);
$heading-color: hsl(0, 0%, 100%);
$stat-heading: hsla(0, 0%, 100%, 0.6);

//BORDER RADIUS
$image-radius: 0 15px 15px 0;
$mobile-radius: 15px 15px 0 0;

// Typography
$inter: "Inter", sans-serif;
$lexend-deca: "Lexend Deca", sans-serif;

// Body Copy

$font-size: 15px;

// ### Font Weights // opacity: 1;
$normal: 400;
$large: 700;

body {
  background-color: $primary-background;
  color: white;
  font-size: 15px;
  font-weight: $normal;
  font-family: $lexend-deca;
}

.card {
  background-color: $card-background;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 15px;
  position: absolute;
  box-shadow: "2px 4px 2px 1px";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // margin: 0 auto;

  .text-container {
    //   display: inline-block;
    text-align: left;
    padding: 5%;
    box-sizing: border-box;
    // float: left;
    max-width: 50%;
    h1 {
      font-family: $inter;
      font-weight: $large;
      color: $heading-color;
      .accent {
        color: $accent;
      }
    }
    p {
      color: $primary-color;
      margin: 10% 0;
    }
    .stats-container {
      display: flex;
      justify-content: space-between;
      h1 {
        color: $stat-heading;
      }
      .stats {
        text-transform: uppercase;
      }
    }
  }

  .image-cover {
    width: 50%;
    // min-width: 50%;
    background-image: url(./../../assets/image-header-desktop.jpg);
    border-radius: $image-radius;
    background-size: cover;
  }

  #image-overlay {
    width: 100%;
    height: 100%;
    background-color: $accent;
    opacity: 0.75;
    border-radius: $image-radius;
  }
}

@media screen and (max-width: 600px) {
  .card {
    position: static;
    transform: translate(0%);
    margin-top: 50px;
    box-sizing: content-box;
    flex-direction: column;
    border-radius: 15px;
    .text-container {
      width: 100%;
      box-sizing: content-box;
      text-align: center;
      margin: 0 auto;
      padding: 0;
    }
    .image-cover {
      background-image: url(./../../assets/image-header-mobile.jpg);
      background-size: cover;
      height: 50vh;
      width: 100%;
      border-radius: $mobile-radius;
      #image-overlay {
        border-radius: $mobile-radius;
      }
    }

    .stats-container {
      flex-direction: column;
    }
  }
}
